@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  background-color: #f3ece8;
}

#search {
  outline: none;
}

@layer components {
  .masonry-grid {
    column-gap: 0;
    column-count: var(--columns);

    @screen md {
      --columns: 2;
    }

    @screen xl {
      --columns: 3;
    }

    @screen 2xl {
      --columns: 4;
    }
  }

  .border-overlap-tl {
    margin: -1px 0 0 -1px;
  }

  .border-overlap-br {
    margin: 0 -1px -1px 0;
  }
}
